/*footer {*/
/*    padding: 4% 0 4% 0;*/
/*    background: #ECF0F1;*/
/*}*/

/*.container--footer {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding-left: 2%;*/
/*    padding-left: 2%;*/
/*    font-size: 15px;*/
/*    font-weight: 700;*/
/*    opacity: 0.8;*/
/*}*/

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:70px;   /* Height of the footer */
    background:#353b48;
    color:white;

}

.page_footer {
    text-align:center;
    font-size:15px;
}