
.App-logo {
    height: 40vmin;
    padding: 30px;
    pointer-events: none;
}

form {
    margin-top: 50px;
    margin-bottom: 100px;

}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 300px) {
    .header_primary {
        font-size: 1.6rem;
    }

    .container {
        width: 100%;
        /*height:100vh;*/
    }
}

@media only screen and (min-width: 960px) {

    .container {
        width: 900px;

    }
}

@media only screen and (min-width: 720px) {

    .container {
        width: 670px;
        /*height:100vh;*/
    }
}

@media (min-width: 1281px) {
    .container {
        width: 80vw;
        /*height:100vh;*/
    }

    .game_cards {

        /*display:grid;*/
        /*grid-template-columns: 200px 200px 200px 200px;*/
        /*grid-gap: 50px;*/


    }

    .card_front {
        height: 100%;
    }
}

.container {

    top: 10px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    background: #438255;
    border-radius: 20px;
    border: 10px solid #353b48;
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

nav {
    /*position:absolute;*/
    background-color: #353b48;
    width: 100%;
}

ul, li {
    list-style: none;
    color: white;
    display: inline;
    font-size: 1.6rem;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}

.dealer_cards, .player_cards {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-gap: 50px;
}