*, *::before, *::after {
    box-sizing: border-box;
    font-family: Segoe UI Light, sans-serif;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font: 62.5%/1.5 "Dancing Script", Lato, Verdana, sans-serif;
    text-align: center;
    background-image: url('./assets/images/leather.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute; top:0; bottom:0; right:0; left:0;

}
html {
    height: 100%;

}
/*body {*/
/*    min-height: 100%;*/
/*    padding:0;*/
/*    margin:0;*/
/*}*/